.git
.github
.next
node_modules
coverage
data
public/audio
prisma/dev.db
prisma/dev.db-journal
.env
.env.local
.env.*.local
.wsj-auth.json
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
